body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    text-align: center; 
    background-color: chocolate;
 }

.intro{
    font-size: large;
}

.menu{
    width: 25%;
    background-color: cadetblue;
}


