body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#CoverPhoto{
    width: 150px;
    height: 150px;
    border-radius:50% ;
    /*color of border goes here, add this later.
    border: ;
    list-style-type: none*/
}

header{
    text-align: center; 
    background-color: #43CCB3;
 }

.intro{
    font-size: large;
}

.menu{
    width: 18%;
    background-color: #FFA261;
}

.sidebar{
    list-style-type: none;
    padding: 0%;
}

.contact{
    text-align: center;
}

footer{
    background-color:#4D997E;
}

.icon{
    width: 4.5rem;
    margin: ;
}



