/* Styling for container + image icon */

.container{
    background-color: plum;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: left; 
}

.git{
    background-color: plum;
    width: 50%;
    height: 50%;
}

/* Animation properties + set-up */

.container:hover .git{
    background-color: plum;
    animation: myAnimation ease-in forwards;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

/* Keyframes */

@keyframes myAnimation {
    0% {
        transform: translateX(0);
    }

    35% {
        transform: translateY(100%);
    }

    65% {
        transform: translateX(100%) translateY(100%);
    }

    100% {
        transform: translateX(100%);
    }
    
}