.container{
    background-color: plum;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: left; 
}

.git{
    background-color: red;
    width: 50%;
    height: 50%;
}

.container:hover .git{
    background-color: floralwhite;
    transform: translateX(100%);
}