/* Box-Sizing */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling for body */
body{
    background-color: pink;
}

/* Styling for container */
.container{
    background-color: pink;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

/* Styling for header */
.container .header{
    text-align: center;
    color: white;
}


/* Styling for input form controls */
.inputField{
    background-color: red;
    font-size: 27px;
    padding: 30px;
    margin:10px;
}

/* Styling for checkbox */
#Checkbox{
    background-color: red;
    font-size: 27px;
    padding: 20px;
    margin:10px;
}
/* Styling for input controls (username, password, email) */


/*Styling for select controls (country, language)*/ 
select{
    margin: 10px;
    padding: 15px;
    max-width:500px;
}

/* Styling for message box */
textarea{
    margin: 20px;
    width: 400px;
    height: 100px;
}

/* Styling for submit button */
button{
    background-color: aqua;
    display: flex;
    align-items: center;
}




